### HEAT EXPOSURE (JFK, Summer 2025)

In [8]:
# Relevant modules.
import pandas as pd
from pathlib import Path
import numpy as np

In [21]:
# Set paths. 74486094789
heat_dir = Path("data/heat")
raw_file = heat_dir / "JFK_2025_JJA_extreme_heat_90.csv"

In [22]:
heat = pd.read_csv(raw_file, parse_dates = ["DATE"])

In [24]:
total_yes = (heat["EXTREME_HEAT"] == "yes").sum()
total_no = (heat["EXTREME_HEAT"] == "no").sum()

print("JFK 2025 Extreme Heat Classification (Threshold = 93°F)")
print(f"  Extreme heat days (yes): {total_yes}")
print(f"  Non-extreme days (no):   {total_no}")

JFK 2025 Extreme Heat Classification (Threshold = 93°F)
  Extreme heat days (yes): 17
  Non-extreme days (no):   71

In [ ]:
df = pd.read_csv(raw_file, parse_dates = ["DATE"])

# Keep only 2025 JFK.
df_2025 = df[
    (df["DATE"].dt.year == 2025) &
    (df["DATE"].dt.month.isin([6,7,8]))
].copy()

# Rename.
df_2025.rename(columns = {
    "NAME": "STATION",
    "MAX": "TEMP_MAX_F",
    "MIN": "TEMP_MIN_F",
    "TEMP": "TEMP_MEAN_F",
    "PRCP": "PRCP_IN"
}, inplace = True)

# Heat threshold (95th percentile JFK 2025).
heat_threshold = df_2025["TEMP_MAX_F"].quantile(0.95) #93

df_2025["EXTREME_HEAT"] = (df_2025["TEMP_MAX_F"] >= heat_threshold).astype(int)
df_2025["HEAT_THRESHOLD"] = heat_threshold

# Change NAME.
df_2025["NAME"] = "JFK"

# Save.
df_2025.to_csv(raw_file, index = False)
heat = df_2025

print("Saved:", raw_file)

heat

Saved: data\heat\jfk_daily_heat_2025.csv

,STATION_NUM,STATION_NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,TEMP_MAX_F,TEMP_MIN_F,PRCP_IN,TEMP_MEAN_F,EXTREME_HEAT,HEAT_THRESHOLD,STATION,NAME
0,74486094789,JFK,40.63915,-73.7639,2.7,2025-06-01,73.0,52.0,0.42,60.3,0,94.37,JFK,JFK
1,74486094789,JFK,40.63915,-73.7639,2.7,2025-06-02,72.0,52.0,0.00,62.7,0,94.37,JFK,JFK
2,74486094789,JFK,40.63915,-73.7639,2.7,2025-06-03,75.9,52.0,0.00,65.6,0,94.37,JFK,JFK
3,74486094789,JFK,40.63915,-73.7639,2.7,2025-06-04,75.9,59.0,0.00,66.9,0,94.37,JFK,JFK
4,74486094789,JFK,40.63915,-73.7639,2.7,2025-06-05,81.0,64.0,0.00,71.8,0,94.37,JFK,JFK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,74486094789,JFK,40.63915,-73.7639,2.7,2025-08-23,79.0,64.9,0.00,72.0,0,94.37,JFK,JFK
84,74486094789,JFK,40.63915,-73.7639,2.7,2025-08-24,80.1,64.9,0.00,72.9,0,94.37,JFK,JFK
85,74486094789,JFK,40.63915,-73.7639,2.7,2025-08-25,86.0,68.0,0.00,76.0,0,94.37,JFK,JFK
86,74486094789,JFK,40.63915,-73.7639,2.7,2025-08-26,78.1,64.0,0.00,72.3,0,94.37,JFK,JFK
87,74486094789,JFK,40.63915,-73.7639,2.7,2025-08-27,73.9,69.1,0.00,71.8,0,94.37,JFK,JFK